* {
    box-sizing: border-box;
}
.header {
    background-color:black;
   
     
}
.conteiner {
   width: 100%;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
}
.row {
    display: flex;
    padding-left: 15px;
    padding-right: 15px; 
}
[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}
.col-xs-1 {
    flex: 0 0 8.333%;
    max-width:8.333%;
}
.col-xs-2 {
    flex: 0 0 16.666%;
    max-width:16.666%;
}
.col-xs-3 {
    flex: 0 0 25%;
    max-width:25%;
}
.col-xs-4 {
    flex: 0 0 33.333%;
    max-width:33.333%;
}
.col-xs-5 {
    flex: 0 0 41.666%;
    max-width:41.666%;
}
.col-xs-6 {
    width: 50%;
    max-width:50%;
}
.col-xs-7 {
    width: 58.333%;
    max-width:58.333%;
}
.col-xs-8 {
    width: 66.3333%;
    max-width:66.333%;
}
.col-xs-9 {
    width: 75%;
    max-width:75%;
}
.col-xs-10 {
    width: 83.333%;
    max-width:83.333%;
}
.col-xs-11 {
    width: 91.666%;
    max-width:91.666%;
}
.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media(min-width:768px) {
    .conteiner {
        max-width: 720px;
    }
    .col-sm-2 {
        flex:0 0 16.66667%;
        max-width: 16.66667%;

    }
    .col-sm-3 {
        flex:0 0 25%;
        max-width: 25%;
    }
    .col-sm-7 {
        flex: 0 0 58.3333%;
        max-width: 58.3333%;
    }
}

@media(min-width:992px) {
    .conteiner {
        max-width: 960px;
        
    }
}

@media(min-width:1200px) {
    .conteiner {
        max-width: 1140px;
        
    }
}

@media(max-width:767px){
.header-row {
    flex-wrap: wrap;
}
.col-xs-hidden {
    display: none;
  }
}
.logo {
    margin: 30px;
}
.nav {
   width: 100%;
}
.menu {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.menu > li> a {
 text-decoration: none;
 color: white;
 text-transform: uppercase;
 font-size: 14px;
 font-family: 'Open Sans', sans-serif;
 padding: 6px 10px;
 border-radius: 5px;
}
.menu > li > a:hover {
    color: #06c6c6;
    border: 1px solid #06c6c6;      
}
.form-serch {
    display: flex;
    align-items:center;
}
.search {
    display: flex;
    width: 195px;
    height: 80px;
    align-items: center;
    
}
.input-search-text {
    background-color: black;
    color:white;
    border: 1px solid white;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif; 
    height: 27px;   
    border-radius: 5px;   
    padding-left: 10px;  
}
.input-search-button {
    background: url("images/search.png") center no-repeat;
    border:none;
    display: flex;
    justify-content: flex-end;
}
input::placeholder {
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

/*font-family: 'Quattrocento Sans', sans-serif;*/