* {
    box-sizing: border-box;
}
.header {
    background-color:black; 
}
.conteiner {
   width: 100%;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
}
.row {
    display: flex;
    padding-left: 15px;
    padding-right: 15px; 
}
[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}
.col-xs-1 {
    flex: 0 0 8.333%;
    max-width:8.333%;
}
.col-xs-2 {
    flex: 0 0 16.666%;
    max-width:16.666%;
}
.col-xs-3 {
    flex: 0 0 25%;
    max-width:25%;
}
.col-xs-4 {
    flex: 0 0 33.333%;
    max-width:33.333%;
}
.col-xs-5 {
    flex: 0 0 41.666%;
    max-width:41.666%;
}
.col-xs-6 {
    width: 50%;
    max-width:50%;
}
.col-xs-7 {
    width: 58.333%;
    max-width:58.333%;
}
.col-xs-8 {
    width: 66.3333%;
    max-width:66.333%;
}
.col-xs-9 {
    width: 75%;
    max-width:75%;
}
.col-xs-10 {
    width: 83.333%;
    max-width:83.333%;
}
.col-xs-11 {
    width: 91.666%;
    max-width:91.666%;
}
.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media(min-width:768px) {
    .conteiner {
        max-width: 720px;
    }
    .col-xs-hidden {
        display: none;
      }
      .col-sm-1 {
        flex:0 0 8.333%;;
        max-width: 8.333%;;
    }
    .col-sm-2 {
        flex:0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-sm-3 {
        flex:0 0 25%;
        max-width: 25%;
    }
    .col-sm-4 {
        flex:0 0 33.3333%;
        max-width: 33.3333%;
    }
    .col-sm-5 {
        flex:0 0 41.666%;
        max-width: 41.666%;
    }
    .col-sm-6 {
        flex:0 0 50%;
        max-width: 50%;
    }
    .col-sm-7 {
        flex: 0 0 58.3333%;
        max-width: 58.3333%;
    }
    .btn{
        display: block;
    }
    .team, .services {
        flex-wrap: wrap;
        padding-top: 10px;
    }
    .foto, .services_item { 
        padding:10px;
        
    }
   .image{
    flex-wrap: wrap;
    padding-top: 10px;
   }
   .image_foto {
       padding: 10px;
   }
    
}

@media(min-width:992px) {
    .conteiner {
        max-width: 960px;
        
    }
    .col-xs-hidden {
        display: flex;
      }
      .foto { 
        padding:10px;
        
    }
}

@media(min-width:1200px) {
    .conteiner {
        max-width: 1140px;  
    }
    
    .logo {
        margin: 30px 0;
    }
    .nav {
       width: 100%;
    }
    .team {
        flex-wrap:nowrap;
        
    }
    .foto , .services_item { 
        /*width: calc(25% - 10px);*/
        flex:25%;

    }
    .team_foto {
        width: 100%;
    }
    
    .image_foto {
        width: calc(33% - 10px);

    }
    .services {
        flex-wrap: wrap;
        display: flex;
    }
}

@media(max-width:767px){
.header-row {
    flex-wrap: wrap;
}
.col-xs-hidden {
    display: none;
  }
.logo { 
    display: flex;
    justify-content: center;
  }
  .menu {
   overflow: auto;
   white-space: nowrap;
  }
.btn {
    flex-direction: column;
}
.social_networks {
    padding-bottom: 15px;
}
.work_with_coustemer {
    display: block;
}
.team, .image, .services, .feauteres_image {
    display: flex;
    flex-direction:column;
}
.foto, .image_foto {
    padding: 10px;
}

.team_foto {
    width: 100%;
}

}

.logo {
    margin: 30px 0;
}
.menu {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.menu > li> a {
 text-decoration: none;
 color: white;
 text-transform: uppercase;
 font-size: 14px;
 font-family: 'Open Sans', sans-serif;
 padding: 6px 10px;
 border-radius: 5px;
}
.menu > li > a:hover {
    color: #06c6c6;
    border: 1px solid #06c6c6;      
}
.form-serch {
    display: flex;
    align-items:center;
   
}
.search {
    display: flex;
    width: 195px;
    height: 80px;
    align-items: center;
    position: relative;
}
.input-search-text {
    background-color: black;
    color:white;
    border: 1px solid white;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif; 
    height: 27px;   
    border-radius: 5px;   
    padding-left: 10px; 
     
}
.input-search-button {
    background: url("images/search.png") center no-repeat;
    border:none;
    position: absolute;
    top:32px;
    right: 15px;
}
input::placeholder {
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.welcome {
    background: url("images/welcome.png") center no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;  
    height: 660px;
}
.white_title {
    font-family:'Quattrocento Sans', sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
   
}
.main_text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 30px 0;
    line-height: 2;
}
.btn {
    display: flex;
    flex-wrap: wrap;   
}

#submit {
    width: 127px;
    height: 50px;
    background-color: transparent;
    border:1px solid white;
    border-radius: 5px; 
    margin: 5px;
    font-family:'Quattrocento Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color:white;
}
#submit:hover {
    background-color: #06c6c6;
}
.we_are_modest, .what_we_do {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
.black_title {
    padding-top: 85px;
    font-family:'Quattrocento Sans', sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    padding: 70px 0;
}
.social{
    background-color: rgb(136, 123, 138);
}
.modest_text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.work_with_customer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  
}
.list_title {
    font-family:'Quattrocento Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    display: flex; 
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
    padding-bottom: 30px;
    
}
.main_title{
    width: 90%;
    padding-left: 15px;
}

.square {
    border: 1px solid #06c6c6;
    height:50px;
    width:50px;
    background: #06c6c6;
    color: white;
    display: flex;
    justify-content: center;
    align-items:center;
}
.hr-line {
    border-top: 1px solid rgba(216, 198, 198, 0.75);
    padding: 0;
    margin: 0;
}
.team,.services, .feauteres_image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.description_team {
    margin: 0;
    padding:20px; 
    background-color: rgba(228, 207, 210, 255);
}
.foto:hover{
    opacity:0.5;
    background: url("images/small_twitter.png") center no-repeat;

}
.description_team:hover {
    background-color: rgba(77, 62, 69, 255);
    color: white;
}
.lovely_work, .features{
    background-color: rgba(58, 68, 77, 255);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image, .feauteres_image {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
        padding-bottom: 65px;
}
.image_foto {
    flex-wrap: wrap;
    display: flex;
}

.btn_show{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}
.services_title {
    font-family:'Quattrocento Sans', sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    padding-bottom: 25px;
}
.services_item {
    text-align: center;
}
.services_img {
   padding-bottom: 30px;
}
#title {
    padding:70px 0;
}
.description_features {
    padding: 20px 0;
}

.feauteres_title {
    font-family:'Quattrocento Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
     text-transform: uppercase;
     padding-bottom: 30px;
}
.contact_title {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 60px 0 40px 0;
}
.contact_text{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    padding-bottom: 30px;
}
.contact_text:last-child {
    padding-bottom: 70px;
}

.credits {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
   
}
.network{

}
/*font-family: 'Quattrocento Sans', sans-serif;*/